*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
}
html{
  height: 100%;
}
body{
  background: linear-gradient(#ddd,#bbb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
form{
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px #666, 3px 3px 1px 1px #888, 5px 5px 2px 2px #aaa;
  height: 640px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 36px;
  margin-top: 64px;
}
.gender, .place, .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 384px;
  height: 36px;
}
.fn-div, .ln-div{
  margin-top: 24px;
  width: 384px;
  height: 36px;
  position: relative;
}
.state-div, .city-div{
  margin: 0 10px; 
  display: inline-block;
}
input[type="text"]{
  width: 384px;
  height: 30px;
  border: 0;
  border-bottom: 1px #aaa solid;
  outline: none;
}
input[type="text"]:focus{
  border-bottom: 1px #000 solid;
}
.fn-label, .ln-label{
  position: absolute;
  left: 5px;
  top: 6px;
  color: #aaa;
  cursor: text;
  transition: 0.2s;
}
input[type="text"]:focus + label, input[type="text"]:valid + label{
  left: 0;
  top: -8px;
  font-size: 11px;
}
.male-div, .female-div{
  margin: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
}
input[type="radio"]{
  width: 20px;
  height: 20px;
  margin: 0 15px 0 5px;
  opacity: 0;
}
input[type="radio"] + label span{
  cursor: pointer;
}
input[type="radio"] + label .shadow:hover, input[type="radio"] + label .inner-ring:hover + span, input[type="radio"] + label .outer-ring:hover + span + span{
  cursor: pointer;
  background-color: #aaa;
}
.shadow{
  position: absolute;
  left: -3px;
  top: -8px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 36px;
  z-index: 0;
}
.outer-ring{
  position: absolute;
  left: 5px;
  top: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px black solid;
  border-radius: 16px;
  z-index: 1;
}
.inner-ring{
  position: absolute;
  left: 10px;
  top: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px black solid;
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}
input[type="radio"]:checked + label > .inner-ring{
  opacity: 1;
}
select{
  width: 180px;
  height: 30px;
  border: 0;
  border-bottom: 1px #aaa solid;
  outline: none;
  cursor: pointer;
}
select:focus{
  background-color: #ddd;
  border-bottom: 1px #000 solid;
}
.dialog{
  background-color: #007978;
  border-radius: 2px;
  box-shadow: 1px 1px #666, 3px 3px 1px 1px #888, 5px 5px 2px 2px #aaa;
  margin-top: 24px;
  height: 100px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  opacity: 0;
}
.dialog p{
  margin-top: 10px;
  color: #fff;
  transition: 0.2s;
}
.buttons{
  margin: auto 0 64px;
  justify-content: flex-end;
}
button{
  font-family: "Roboto Medium";
  font-weight: bolder;
  height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  border: 0;
  outline: none;
  background: none;
}
button:focus, button:hover{
  background-color: #ddd;
}
button:active{
  background-color: #bbb;
}